@model Calliope.Models.App.Periode

@{
    ViewBag.Title = "Créer une periode";
    Layout = "~/Views/Coordinateur/_Layout.cshtml";
}

<h2>Créer une periode</h2>
<div class="row">
    @using (Html.BeginForm("CreerPeriode","Coordinateur", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-6">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.start, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.start, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.end, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.end, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.end, "", new { @class = "text-danger" } )
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div class="row col-lg-offset-1">
    @Html.ActionLink("Back to List", "Index")
</div>
